<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legislator</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        body {
            background-color: #f7f7f7;
        }
    </style>
</head>
<body>
    <div class="container mx-auto p-4">
        <div class="bg-white shadow-md rounded my-6">
            <table class="min-w-full table-auto">
                <thead>
                    <tr class="bg-purple-600">
                        <th class="px-16 py-2">
                            <span class="text-gray-300">ID</span>
                        </th>
                        <th class="px-16 py-2">
                            <span class="text-gray-300">Legislator</span>
                        </th>
                        <th class="px-16 py-2">
                            <span class="text-gray-300">Supported Bills</span>
                        </th>
                        <th class="px-16 py-2">
                            <span class="text-gray-300">Opposed Bills</span>
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-gray-200">
                    {% for row in legislators %}
                    <tr class="bg-white border-4 border-gray-200">
                        <td class="px-16 py-2">{{ row.id }}</td>
                        <td>{{ row.name }}</td>
                        <td>{{ row.supported_bills }}</td>
                        <td>{{ row.opposed_bills }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="mt-8">
        <canvas id="legislatorsChart"></canvas>
    </div>
    
    <script>
        var chartData = JSON.parse('{{ chart_data | tojson | safe }}');
        var ctx = document.getElementById('legislatorsChart').getContext('2d');
        var legislatorsChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: chartData.labels,
                datasets: [{
                    label: 'Bills Count',
                    data: chartData.data,
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 99, 132, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
            }
        });
    </script>
</body>
</html>
